:root {
  --pto-primary-color: 113, 99, 158;
}

.pro-properties-panel {
  height: 100%;
  width: 100%;
  overflow: hidden;

  * {
    user-select: none;
  }

  .pro-properties-tabs-container {
    width: 100%;
    height: 30px;
    padding-inline: 20px;
    box-sizing: border-box;

    &-inner {
      width: 100%;
      height: 100%;
      background-color: rebeccapurple;
      display: flex;
    }

    .pro-properties-tab {
      flex: 1;
    }
  }

  // 空状态容器
  .pro-properties-empty-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
